.online-users{
    padding: 10px;
    background-color: #1976d2 !important;
}
.avatar-img{
    width: 60px;
    height: 65px;
}
.user-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #bbdefb !important;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
      border-radius: 20px;
}
.username{
    margin-left: 20px;
    display: flex;
    height: 100%;
    font-size: 18px;
    align-items: center;
    background-color: transparent !important;
}
.avatar-button{
    background-color: transparent;
    border: 0;
    display: block;
    width: 100%;
    max-width: 450px;
    margin:0;
    margin-bottom: 15px;
    border-radius: 20px;

}
.avatar-button:hover, .glow{
    box-shadow:  4px 2px 6px 2px #0d46a1,
    1px 2px 2px 1px rgba(168, 30, 30, 0.14),
    1px 3px 1px 2px rgba(170, 20, 20, 0.12); 
}
button{padding: 0}

.messages{
  
    max-height: calc( 100vh - 235px );
    overflow: auto;
    z-index: 1000;
    margin-bottom: 85px;
    margin-top: 5px;
}
.new-message{
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
width: 100%;
    max-width: 500px;
   
}
.new-message-wrapper{
   background-color: white;
    position: fixed;
    bottom: 52px;
    width: 100%;

}
@media screen and (max-width: 600px) {
    .new-message{
        align-items:end;
    }
    pre{
        max-width: 80vw;
    }
}
@media screen and (min-width: 600px) {
    .new-message{
        align-items:end;
    }
    pre{
        max-width: 600px;
    }
}
#logout-btn{
    position: absolute;
    right: 10px;
    width: 35px;
    height: 35px;
    min-width: 0 !important;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #d32f2f;
    color: white;
}
#new-message-input{
   
}
.buttons{
    margin-top: 2px;
}
.message{

    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
    display: inline-flex;
   
  

}
.received{
    background-color: #bbdefb;
    color: white;
    color: black;
    margin-left: 10px;
}
.sent{
    background-color: #dce4eb;
    color: #1976d2;
    margin-right: 10px;
    font-weight: 650;
}
.message-wrapper-received{
display: flex;
justify-content: left;
margin: 5px;
margin-bottom: 12px;
}
.message-wrapper-sent{
    display: flex;
    justify-content: right;
    margin: 5px;
    margin-bottom: 12px;
    }

pre{
    margin: 0;
        overflow: hidden;
      text-overflow: ellipsis;
      white-space:pre-wrap;

}
.msg-avatar{
    position: relative !important;
    top:-15px;
    
}
.received-msg-avatar{left: -15px}
.sent-msg-avatar{right: -15px}
.selected-user{
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 18px;
    border-bottom: solid 2px #1976d2;
}

